<a href="https://colab.research.google.com/github/Sirprize123/MasterZika1/blob/main/RANDOM_FOREST_MESTRADO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine learning (Random forest)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df_zika_met = pd.read_csv("https://raw.githubusercontent.com/Sirprize123/MasterZika1/main/df_zika_met.csv", sep = ";")

In [2]:
df_zika_met.head(10)

,Data e Hora,PRECIPITAÇÃO TOTAL (mm),TEMPERATURA DO AR - BULBO SECO (°C),UMIDADE RELATIVA DO AR (%),ds_semana_sintoma,dt_nascimento,nu_idade,tp_sexo,tp_gestante,tp_raca_cor,tp_escolaridade,no_bairro_residencia,nm_logradouro_residencia,Casos confirmados,dt_diagnostico_sintoma,Data
0,2014-01-01,0.0,27.308333,62.916667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2014-01-01
1,2014-01-02,0.0,27.020833,62.583333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2014-01-02
2,2014-01-03,0.0,26.912500,59.291667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2014-01-03
3,2014-01-04,0.2,25.462500,67.791667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2014-01-04
4,2014-01-05,0.0,25.429167,69.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2014-01-05
5,2014-01-06,14.4,25.500000,71.916667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2014-01-06
6,2014-01-07,0.2,26.108333,63.958333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2014-01-07
7,2014-01-08,0.0,25.512500,68.875000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2014-01-08
8,2014-01-09,15.6,23.733333,81.875000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2014-01-09
9,2014-01-10,17.2,25.533333,74.625000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2014-01-10

# Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
#setando seed
SEED = 42
np.random.seed(SEED)

x = df_zika_met[["Casos confirmados", "PRECIPITAÇÃO TOTAL (mm)",	"TEMPERATURA DO AR - BULBO SECO (°C)",	"UMIDADE RELATIVA DO AR (%)"]]
y = df_zika_met["Data"]

#separando em treino e teste
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.3)

#treino do modelo



modelo = RandomForestClassifier(n_estimators= 200)
modelo.fit(treino_x, treino_y)

#calculando o score
print("resultado da classificação %.2f%%" % (modelo.score(teste_x, teste_y) * 100))

Dummy

In [ ]:
from sklearn.dummy import DummyClassifier

dummy = DummyClassifier(strategy="most_frequent")
dummy.fit(treino_x, treino_y)
acuracia = dummy.score(teste_x, teste_y) * 100

print("A acurácia do dummy stratified foi %.2f%%" % acuracia)